.root {
	/* border: 1px solid #000; */
	min-width: 80px;
	max-width: 200px;
	display: flex;
	gap: 5px;
}
.on {
	/* 	border: 1px solid #000; */
	background-color: green;
}
.off {
	/* 	border: 1px solid #000; */
	background-color: red;
}
.circle {
	border: 1px solid #000;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
